@using Frontend.DTOs;
@model List<MenuDTO>
@{
    var menuLv1 = ((List<MenuDTO>)Model).Where(x => x.Level == 1);
    var menuLv2 = ((List<MenuDTO>)Model).Where(x => x.Level == 2);
}
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        @if (Model != null)
        {
            @foreach (var lv1 in menuLv1.OrderBy(x => x.Order)) 
            {
                <li class="nav-item">
                    @if (menuLv2.Where(x => x.ParentCode == lv1.MenuCode).Count() == 0)
                    {
                        <a class="nav-link collapsed" 
                            href="@Url.Content("~/" + lv1.Url ?? "#")">
                            <i class="@lv1.Icon"></i>
                            <span>@lv1.Name</span>
                        </a>
                    }
                    else
                    {
                        <a class="nav-link collapsed" data-bs-target="#@lv1.MenuCode" data-bs-toggle="collapse" href="#">
                            <i class="@lv1.Icon"></i>
                            <span>@(lv1.Name ?? "")</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        @foreach (var lv2 in menuLv2.Where(x => x.ParentCode == lv1.MenuCode).OrderBy(x => x.Order))
                        {
                            <ul id="@lv2.ParentCode" data-bs-parent="#sidebar-nav" class="nav-content collapse">
                                <li class="nav-item">
                                    <a href="@Url.Content("~/" + lv2.Url ?? "#")">
                                        <i class="@lv2.Icon" style="font-size:16px"></i>
                                        <span>@(lv2.Name ?? "")</span>
                                    </a>
                                </li>
                            </ul>
                        }
                    }
                </li>
            }
        }
    </ul>
</aside><!-- End Sidebar-->
